{
	"openapi": "3.0.1",
	"info": {
		"title": "OpenAPI Plant Store",
		"description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
		"license": {
			"name": "MIT"
		},
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "http://sandbox.mintlify.com"
		}
	],
	"paths": {
		"/api/token": {
			"post": {
				"description": "Creates a new plant in the store",
				"requestBody": {
					"description": "Plant to add to the store",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/GetToken"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "plant response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Plant"
								}
							}
						}
					},
					"400": {
						"description": "unexpected error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"GetToken": {
				"allOf": [
					{
						"required": [],
						"type": "object",
						"properties": {
							"grant_type": {
								"description": "The name of the plant lool",
								"type": "string"
							},
							"username": {
								"description": "Utilisateur de connexion",
								"type": "string"
							},
							"password": {
								"description": "Mot de passe de connexion",
								"type": "string"
							}
						}
					}
				]
			},
			"Error": {
				"required": ["error", "message"],
				"type": "object",
				"properties": {
					"error": {
						"type": "integer",
						"format": "int32"
					},
					"message": {
						"type": "string"
					}
				}
			}
		},
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer"
			}
		}
	}
}
